# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual envs
.venv/
venv/

# IDEs
.vscode/
.idea/
*.code-workspace
.vs/
# OS noise
.DS_Store
Thumbs.db

# Project runtime dirs
captures/
calibration/
configs/
logs/

# Ignore all PNG images
*.png

# Ignore all JSON files
*.json

# Ignore this specific file
ruco_test.py

# Ignore all .cti files
*.cti
